@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for glow around progress bar in loading page */
.glow {
    box-shadow:
        0 0 6px rgba(186, 242, 229, 0.6),
        0 0 16px rgba(186, 242, 229, 0.45),
        0 0 36px rgba(186, 242, 229, 0.25);
}

/* for logo of the game */
.oxenfree-spectral {
    color: #baf2e5;
    text-shadow:
        0 0 5px rgba(127, 220, 196, 0.35),
        0 0 14px rgba(63, 174, 163, 0.25),
        0 0 28px rgba(40, 120, 115, 0.15);
}

.oxenfree-line::before {
    content: "";
    position: absolute;
    left: -4%;
    right: -4%;
    top: 52%;
    height: 1px;
    background: linear-gradient(to right,
            transparent,
            rgba(160, 255, 230, 0.7),
            transparent);
    box-shadow:
        0 0 6px rgba(127, 220, 196, 0.5),
        0 0 14px rgba(63, 174, 163, 0.35);
    opacity: 0.8;
}

/* for start button */
.oxenfree-start-btn {
    position: relative;
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.4em;
    color: #d6f5ec;

    background: linear-gradient(to bottom,
            rgba(48, 83, 79, 0.95),
            rgba(15, 35, 35, 0.95));

    border: 1px solid rgb(147, 147, 147);
    border-radius: 6px;

    text-shadow:
        0 0 6px rgba(150, 255, 220, 0.35),
        0 0 14px rgba(80, 180, 160, 0.25);

    transition: all 0.35s ease;
}

.oxenfree-start-btn::before {
    content: "";
    position: absolute;
    inset: 3px;
    background: radial-gradient(ellipse at center,
            rgba(180, 255, 230, 0.25),
            transparent 65%);
    pointer-events: none;
}

.oxenfree-start-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
    mix-blend-mode: overlay;
    pointer-events: none;
}

.oxenfree-start-btn:hover {
    box-shadow:
        inset 0 0 30px rgba(160, 255, 230, 0.28),
        0 12px 40px rgba(60, 160, 150, 0.45);
}

.oxenfree-start-btn:active {
    transform: translateY(2px);
    box-shadow:
        inset 0 0 35px rgba(120, 220, 200, 0.3);
}

/* for info */
.info-box {
    background: rgba(15, 20, 25, 0.85);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), 0 0 15px rgba(186, 242, 229, 0.2);
}

.sub-title {
    font-family: "Cinzel", serif;
    letter-spacing: 0.2em;
    color: #baf2e5;
    text-shadow:
        1px 1px 0 rgba(0, 0, 0, 0.3),
        2px 2px 2px rgba(0, 0, 0, 0.4);
}

